footer {
    padding: 20px;
    background: #000;
    color: #fff;
    padding-bottom: 2px;
    margin-top : -20px;
    ul {
        li {
            &:last-child {
                i {
                    margin-right: 0px !important;
                }
            }
        }
    }
    p {
        font-family: 'Graduate', cursive;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 4px;
        @media screen and (max-width: 500px) {
            font-size: 12px !important;
        }
    }
}